extends template/layout

block content 
    h1.webpage #{title}
    .container
        .about-company
            p.about-info
                <span> Salesman Lab </span>has been designed and developed by two computer science students. 
                | The application has been developed using agile priniciples of development, where each part of the
                | application is focused on solving the buisness problem given to us by our customers.
                | The Idea of this application is to become an Internal communication and management tool for small to medium sized buisnesses.
                | The current version SML 0.0 of application focuses on products that require measurement to calculate prices.
                 
        
        .about-staff
            h1.webpage Staff


        .investors
            h1.webpage Investors
