extends template/layout

block content  
    div(class='homepage')    
           
        .jumbotron
            .container
                h1.display-3 We Know Whats Stopping You
                |         
                p
                | Tired of updating prices on excel table? or managing communication between staff and customer. 
                | Start using Salesman Lab and make your production, staff and conversion easy and mesaurable.  
                | 
                |         
                p
                a.btn.btn-primary.btn-lg(href="/aboutus", role="button") Learn more »

                a.btn.btn-primary.btn-lg(href="/users/register", role="button") Start Today »
            |     
        
        .container
            .problem-statement
                h2 Are these are the reason you are loosing customer?
                ul.problem-links
                    li Don't Know what happend to customer who contacted you last week?
                    li Sales Staff performance
                    li Don't know which product is in Demand
            .features
                h2 Features
                ul.features-links
                    li Easy Customer management 
                    li Easy Internal Staff management
                    li products management
                    li Easy to update prices    
        .container
            .our-customers
                h2 Our Customers
                ul.customers-lists
                    li 
                        span 
                            img(src="/resources/images/fashionblinds.jpg") 
                            br 
                            p Fashion Blinds
                    li 
                        span 
                            img(src="/resources/images/argos.png") 
                            br 
                            p Argos
                    li 
                        span 
                            img(src="/resources/images/hillary.png") 
                            br 
                            p Hillary Blinds
                    li 
                        span 
                            img(src="/resources/images/247blinds.png") 
                            br 
                            p 24X7 Blinds
