section#footer1-3f.cid-qv5AKiwkDE(data-rv-view='4072')
  .mbr-overlay(style='background-color: rgb(70, 80, 82); opacity: 0.7;')
  .container
    .media-container-row.content.text-white
      .col-12.col-md-3
        .media-wrap
          a(href='#')
            img(src='/resources/images/S4.png', alt='Salesmanlab', media-simple='true')
      .col-12.col-md-3.mbr-fonts-style.display-7
        h5.pb-3
          | Address
        p.mbr-text
          | Dartmouth House, Kylemore Rd
          br
          |  Inchicore, Dublin 10, Ireland
      .col-12.col-md-3.mbr-fonts-style.display-7
        h5.pb-3
          | Contacts
        p.mbr-text
          | Email: salesmanlab@gmail.com
          br
          | Phone: +353 1 868 0333
      .col-12.col-md-3.mbr-fonts-style.display-7
        h5.pb-3
          | Links
        p.mbr-text
          a.text-white(href='https://mobirise.com/') About us
          br
          a.text-white(href='https://mobirise.com/mobirise-free-win.zip') Contact us
          br
          a.text-white(href='https://mobirise.com/mobirise-free-mac.zip') features
    .footer-lower
      .media-container-row
        .col-sm-12
          hr
      .media-container-row.mbr-white
        .col-sm-6.copyright
          p.mbr-text.mbr-fonts-style.display-7
            p &copy; Salesman lab <script>document.write(new Date().getFullYear());</script> a product of Studio 10 ltd.
        .col-md-6
          .social-list.align-right
            .soc-item
              a(href='https://twitter.com/mobirise', target='_blank')
                span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
            .soc-item
              a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
                span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
            .soc-item
              a(href='https://www.youtube.com/c/mobirise', target='_blank')
                span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
            .soc-item
              a(href='https://instagram.com/mobirise', target='_blank')
                span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
            .soc-item
              a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
                span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
            .soc-item
              a(href='https://www.behance.net/Mobirise', target='_blank')
                span.socicon-behance.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
