doctype html
html(lang='en')
  head
    title #{title}
    //link(rel='stylesheet' href='http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href="/resources/css/left-header.css")
    link(rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet' href='/resources/styles.css')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  body
    nav.navbar.navbar-inverse.navbar-fixed-left
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') <img src="/resources/images/S4.png" alt="logo">
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/app/dashboard') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline">dashboard</i>Overview</span>
            li
              a(href='/app/customers') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> people</i>Customer</span>
            li
              a <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> settings </i><span class = "dropbtn" onclick='dropFunction()'>Products <i id="down" class="down"></i></span></span>
              #menuDropdown.dropdown-content
                a(href='/app/products') <i class="material-icons material-icons--outline-inner">local_mall </i> Products
                a(href='/app/categories') <i class="material-icons material-icons--outline-inner"> class</i> Categories
            li
              a(href='/app/staff') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> person_pin</i>Staff</span>
            li
              a(href='/app/orders') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> receipt</i>Orders</span>
            li
              a(href='/app/marketing') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> record_voice_over</i>Marketing</span>
            li
              a(href='/app/account') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> subdirectory_arrow_right</i>Account</span>          
          ul.nav.navbar-nav.navbar-right.navbar-bottom
            if staffId
              li
                a(href="/app/dashboard") <div class="user-profile"> <i class="material-icons material-icons--outline">account_circle </i>  <span> #{localUserInfo.name} </span> </div>
              li 
                a(href='/users/logout') <span class='dashboard-fixed-left-nav-icon'><i class="material-icons material-icons--outline"> replay</i>Log Out</span> 
                br 
                hr  
              p.copyright &copy; Salesman lab 
                <script>document.write(new Date().getFullYear());</script> 
            else
              li
                a(href='/users/register') <button type="button" class="btn btn-primary">Sign up</button>
              li
                a(href='/users/login') <button type="button" class="btn btn-success">Login</button>
              

        // /.nav-collapse
    .container
      != messages('message', locals)
      if errors 
        each error, i in errors 
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr


    script.
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function dropFunction() {
        document.getElementById("menuDropdown").classList.toggle("show");
        var x = document.getElementById("down");
        if (x.style.transform === "rotate(45deg)") {
        x.style.transform = "rotate(-45deg)"
        } else {
        x.style.transform = "rotate(45deg)"
        }
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
        }
        }
        }
        }

          

Script(src='/bower_components/jquery/dist/jquery.js')
Script(src='/resources/js/charts.js')
Script(src='/resources/js/delete.js') 

