form.main-form.first(method='POST', action='/app/add/staff')
    .main-form__title
        h1 Add New Product Category
    .main-form__body
        input.main-form__input(type='text', name='Category name', placeholder='Category Name', required='')     
        input.btn(type='submit' value="Add")

